#about-panels {
    margin-top: 20px;
}

.title-testimonials {
    background-color: #0275d8;

    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    color: white;
}

.group-radio,
.contact-select {
    width: 49%;

    display: inline-block;

    vertical-align: top;
}

.group-radio .radio:first-child {
    margin-top: 0;
}